body {
font-family: Arial, sans-serif;
margin: 40px;
background-color: #f8f8f8;
}

h1 {
text-align: center;
color: #333;
}

.carouselExample {
    max-width: 900px;   /* ancho del carrusel */
    margin: center;       /* lo centra */
  }

.carouselExample .carousel-item img {
    height: 350px;      /* alto de las imágenes */
    object-fit: cover;  /* evita deformación */
  }


  
.product-grid {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
gap: 20px;
margin-top: 30px;
}

/* CLAVE: estructura uniforme */
.product-card {
background-color: #fff;
border: 1px solid #ddd;
border-radius: 8px;
padding: 16px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
transition: transform 0.2s;


display: flex;
flex-direction: column;
justify-content: space-between;


}

.product-card:hover {
transform: translateY(-5px);
}

.product-card h3 {
margin-top: 0;
font-size: 1.2em;
color: #333;
}

.product-card .description {
font-size: 0.95em;
color: #666;
}

.product-card .price {
font-weight: bold;
color: #2c7a7b;
font-size: 1.1em;
margin-top: 10px;
}

/* IMÁGENES IGUALES */
.product-card img {
width: 100%;
height: 200px;
object-fit: cover;
border-radius: 6px;
}

/*  BOTÓN SIEMPRE ABAJO Y CENTRADO */
.product-card .text-center {
margin-top: auto;
}

